@import url('http://fonts.googleapis.com/css2?family=Kanit&display=swap'); /*FONTE EXTERNA DO GOOGLE*/
body {
    color: white; /* Cor das letras do body*/
    background-color: black; /* Cor do fundo*/
    font-family: "Kanit"/*NOME DA FONTE EXTERNA DO GOOGLE, CITADA LÁ EM CIMA!*/, sans-serif; /*Modifica a fonte da página.*/

}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none; /* tag para retirar as "bolinhas" */
    align-items: center; /* Alinha verticalmente ao centro */
    padding: 16px;/*Para que ele tenha uma distancia um pouco maior de "cima" e da parte de "baixo" */
    font-family: 'Kanit', sans-serif;
    flex-wrap: wrap;
}

a {
    color: white;
    text-decoration: none; /*Retira as linhas de baixo do texto que ta linkado deixando ele livre, natural.*/
}

header img { /* Estilização da imagem de perfil*/
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #5bbe42;
}

.center { /*Sempre que for estilizar CLASS dentro de DIV, é preciso criar o  ".exemplo{}" por exemplo para a estilização da classe funcionar. Nesse caso aqui, a CLASS em questão é a CLASS "center" que foi colocada na DIV que será usada para estilizar a imagem de perfil.*/

    text-align: center;
}

h1 {
    color: #5bbe42;
}

.joy1 {
    height: 180px;
}

.hamburger-icon {
    display:none;
   
}

/*Rodapé*/

.iconeimg img{
    width: 25px;
    height: 25px;
    border: 2px solid #5bbe42;
    border-radius: 50%;
    transition: transform 0.3s;
}

/*  EFEITO DE ROTAÇÃO DOS ICONES DO FOOTER EM COJUNTO COM O JS  */
.iconeimg:hover img {
    transform: rotateY(180deg);
}
/*--------------------------------------------------------------*/



footer {
    justify-content: center;
    display: flex;
    font-family: "Kanit"/*NOME DA FONTE EXTERNA DO GOOGLE, CITADA LÁ EM CIMA!*/, sans-serif; /*Modifica a fonte da página.*/
    gap: 20px;
    align-items: center;
}

.RobertDouglas2023 {
    display: flex;
    justify-content:center;
    align-items: ;
    color: #ffffff; 
    font-size: 12px; 
    font-family: "sanserif"; 
    font-weight: 400; 
    word-wrap: break-word
    
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}

.container {
    padding: 0px 50px; /*0px =  em cima e em baixo vai ter 0 pixels de padding. 50px = Esquerda e direita vão ter 50 pixels de padding*/
}

nav a:hover { /*Deixa o elemento de texto da NAV da cor verde, ou de qualquer outra cor que eu tenha escolhido ai abaixo.*/
    background-color: #5bbe42;
    border-bottom: 1px solid white; /*Efeito de sublinhar no hover.*/
    padding: 8px 16px;
}







/*---------------------------MOBILE------------------------------*/

/* NAV - MENU SUPERIOR */


/* Estilos para a versão mobile (tela pequena) */
@media screen and (max-width: 768px) {
    /* Para a versão mobile, inicialmente oculte o menu de navegação */
    .navbar ul {
        display: none;
    }

    /* Estilize o ícone do menu de hambúrguer */
    .menu-hamburger {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 1;
    }

    .menu-hamburger .bar {
        width: 30px;
        height: 3px;
        background: white;
        margin: 4px 0;
    }

    /* Estilize o menu de navegação ativo para a versão mobile */
    .navbar.active ul {
        display: flex;
        flex-direction: column;
        background-color: #19191d;
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        padding: 20px;
    }

    /* No arquivo style2.css (style para home.html) */
    .hamburger-icon-right {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px; /* Ajuste a posição direita conforme necessário */
        cursor: pointer;
        font-size: 24px;
        color: white;
}

}

