@charset "UTF-8";
@font-face {
    font-family: 'Kanit';
    src: url(/fonts/Kanit-Bold.ttf);
}

:root {
    --font-padrao: Arial, Helvetica, sans-serif;
    --font-destaque:'Kanit', sans-serif;  
}

*{
    
    padding: 0;
    margin: 0;

    box-sizing: border-box; /*Referente ao flexbox - Olhar no site: developer.mozila.org/en-US/docs/Web/CSS/box-sizing e estudar melhor como funciona o comportamento dessa função. Por enquanto, usarei para dar continuidade ao projeto. Depois eu reviso.*/

    font-family: "Kanit"/*NOME DA FONTE EXTERNA DO GOOGLE, CITADA LÁ EM CIMA!*/, sans-serif; /*Modifica a fonte da página.*/

}
body {
    width: 100%;
    min-width: 100vh;
    background-color: #19191d;

    /*background-image: url(img/Black\ Futuristic\ Technology\ Desktop\ Wallpaper.png); (Imagem de fundo)
    background-repeat: no-repeat; (Comando para não ficar repetindo a imagem de fundo acima.)
    background-size:cover;*/

}



header {
    display: flex;
    justify-content: space-between; /*Divide os conteudos em esquerda e direita. É o comando que manda os menus para o lado direito, caso eu me confunda.*/
    height: 80px;
    background-color: black;
    align-items: center; /*Alinha os conteudos (tanto esquerda quanto direita) dentro de "header"*/
    padding: 0px 20px; /* 0 superior e inferior(top e bottom), 20 esquerda e direita (left/right)*/
}

.logo {
    width: ; /* Abri o comando mas não irei mexer na logo, o tamanho dela está ideal! Vou manter o código só para não perder o raciocinio.*/
}

.nav-menu {
    list-style: none; /*Remove o modo lista do menu.*/
    display: flex; /*Desativa de vez o modo lista (Mas esse comando funciona em conjunto com o de cima, não esquecer) e coloca um ao lado do outro.*/
    flex-wrap: wrap;
}

.nav-menu li a {
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    font-size: 18px;
    flex-wrap: wrap;
}

.nav-menu li a:hover { /*Deixa o elemento de texto da NAV da cor verde, ou de qualquer outra cor que eu tenha escolhido ai abaixo.*/
    background-color: #1d638b;
    border-bottom: 1px solid white; /*Efeito de sublinhar no hover.*/

}

.hamburger-icon {
    display: none;
   
}


/*Conteúdo do CORPO*/

.BemVindoAoMeuSite {
    width: 100%; 
    height: 100%; 
    text-align:center; 
    color: #3BBADB; 
    font-size: 32px; 
    font-family: var(--font-destaque);
    font-weight: 400; 
    line-height: 90px; 
    word-wrap: break-word"
}

.OláMeuNomeERobert {
    width: 100%;
    height: 100%; 
    text-align:center;
    justify-content: center;
    color: #018DB0; 
    font-size: 67px; 
    font-family: var(--font-destaque);
    font-weight: 700; 
    line-height: 77px; 
    word-wrap: break-word
    
}





.Frame2 {
   width:24,1%;
   height: 100%; 
   padding-left: 35px; 
   padding-right: 35px; 
   padding-top: 8px; 
   padding-bottom: 8px; 
   background: rgb(255, 255, 255); 
   box-shadow: 0px 4px 4px rgba(0, 138, 170, 0.17);
   border-radius: 8px; 
   border: 2px #008AAA solid; 
   justify-content: flex-start; 
   align-items: flex-start; 
   gap: 10px; 
   display: inline-flex;
   color: #008AAA;
   font-size: 32px;
   font-family:var(--font-destaque);
   font-weight: 400;
   word-wrap: break-word
   
   
}

.Frame2, a {
    text-decoration:none; /*Retira as linhas de baixo do texto que ta linkado deixando ele livre, natural.*/
    
}

.TEXTOCORPO1 {
    font-size: 24px; 
    font-family: var(--font-destaque);
    font-weight: 500px; 
    word-wrap: break-word;
    color: #008AAA; 
    width: 100%; 
    height: 100%  
       
}

.TEXTOCORPO1, a {
    text-decoration:none; /*Retira as linhas de baixo do texto que ta linkado deixando ele livre, natural.*/
}

/*   CONTAINERS DE 1 A 3   */

/*.container1 {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    flex-flow:;
    align-content:center;
    gap: 10px;
    column-gap: 5px;
}

.container2 {
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    flex-flow:;
    align-content:flex-end;
    gap: 5px;
    column-gap: 10px;
}

.container3 {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    flex-flow:;
    align-content:center;
    gap: 10px;
    column-gap: 5px;
}*/

/*-------------------------*/





/* CONTEUDO DAS DIV'S DE 1 A 6*/


/*.conteudo1 {
    background-color: red;
    width: 200px;
    height: 200px;
}

.conteudo2 {
    background-color:blue;
    width: 200px;
    height: 200px;
}

.conteudo3 {
    background-color: yellow;
    width: 200px;
    height: 200px;
}
.conteudo4 {
    background-color:green;
    width: 200px;
    height: 200px;
}
.conteudo5 {
    background-color: white;
    width: 200px;
    height: 200px;
}

.conteudo6 {
    background-color: orange;
    width: 200px;
    height: 200px;
} */




.PosicionadorDoSobreMim {
    display: flex;
    align-items: center; /* Centralizar verticalmente */
    width: 100%; 
    height: 100%; 
    background: #19191d
    
}

.SobreMim {
    display: inline-flex; /* Adiciona o flexbox ao container do texto e da imagem */
    flex-direction: column; /* Alinha os elementos na vertical */
    justify-content: flex-start;
    align-items:baseline;
    background: #19191d;
    padding: 20px;
    word-wrap: break-word;
    max-width: 50%;
    
    
}


/*EFEITO DE ROTAÇÃO DA FOTO CSS - FUNCIONA EM CONJUNTO COM O JS*/

/* Define a classe de rotação */
.girar {
    animation: girar 1s;
    animation-fill-mode: forwards;
}

/* Define a animação de rotação */
@keyframes girar {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg); /* Alterado de 180deg para 360deg para uma rotação completa */
    }
}



/*--------------------------------*/

.MinhaFotodePerfil {
    width: 425px; /* Largura da imagem */
    height: 425px; /* Altura da imagem */
    border-radius: 50%; /* Moldura redonda */ 
    margin-top: 20px; /* Espaço entre a imagem e o texto */
    margin-left: 210px;
    margin-bottom: 100px;
    border: 2px solid #018DB0;
}


.Titulo {
    align-self: stretch; 
    color: #ffffff; 
    font-size: 48px; 
    font-family: var(--font-destaque); 
    font-weight: 700; 
    line-height: 72px; 
    word-wrap: break-word;
}

.Texto {
    flex-direction: row;
    align-self: stretch; 
    color: #828282; 
    font-size: 24px; 
    font-family: var(--font-destaque); 
    font-weight: 400; 
    line-height: 36px; 
    word-wrap: break-word;
}



.BotãoPrimario {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #FDC435;
    border-radius: 8px;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Sombreamento padrão */
    gap: 30px;
    
}

.BotãoPrimario:hover {
    color: #fff;
    background: #FDBB05;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Sombreamento no hover */
}

.BotãoPrimario:active {
    transform: scale(1.1) translateY(5px); /* Efeito de afundamento quando clicado */
    box-shadow: none; /* Remove o sombreamento quando clicado */
    outline: none; /* Remove o contorno quando clicado */
}



.BotãoPrimario, .Texto {
    color: #ffffff; 
    font-size: 18px; 
    font-family: Roboto; 
    font-weight: 500;
    line-height: 27px; 
    word-wrap: break-word
    
}

/* CONFIGURAÇÃO DA ESTILIZAÇÃO DO BOTÃO ANIMADO DO SAIBA MAIS*/
.animated-button {
    background: none;
    color: #000000;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s; box-shadow 0.3s;
}

.animated-button:hover {
    color: #bd6e07;
}

.animated-button:active {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/*--------------------------------------------------------------*/



   /*Rodapé*/

footer {
    display: flex;
    justify-content: center;
    background: #19191d;
    padding: 0px 20px;
    flex-direction:row; /* Alinhar horizontalmente */
    width: 100%; /* Ocupar toda a largura da página */
    gap: 3%;
    align-self: flex-end;
    position: absolute;
}

.icone {
    text-align: center;
    margin-bottom: 0 20px; /* Espaçamento entre os ícones */
    align-self: flex-end;
    font-size: small;
    
/*EFEITO DE CARTA GIRATORIA NOS ICONES DO CSS EM CONJUNTO DO JS*/
    transition: transform 0.3s; /* Adiciona a transição para o efeito */
    cursor: pointer; /* Altera o cursor para um indicador de link */
}
/*--------------------------------------------------------------*/


.icone a {
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.icone img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-bottom: 2px; /* Espaço entre a imagem e o texto */
    border: 2px solid #018DB0;
}

.marcaDagua {
    flex-direction: column;
    text-align:center;
    color: white;
    font-size: 10px;
    font-family: 'Kanit', sans-serif;
    bottom: 5px;
    width: 100%;
    margin-left: 6px;
}







/*----------------------------MOBILE---------------------------------*/

/* Estilos para a versão mobile */
@media screen and (max-width: 768px) {
    .nav-menu {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #19191d;
        width: 100%;
        padding: 20px;
    }

    .nav-menu.active {
        display: flex;
        flex-direction: column;
    }

    .nav-menu ul {
        list-style: none;
        padding: 0;
    }

    .nav-menu li {
        margin: 10px 0;
        text-align: center;
    }

    .nav-menu a {
        color: white;
        text-decoration: none;
        font-size: 18px;
    }

    .hamburger-icon {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 24px;
        color: white;
    }

    

/*--------------------------------------------------------------------------------*/

/*FOOTER - RODAPÉ -----------------------------------------------------------------*/

/* Espaçamento entre o botão e o footer */
.BotãoPrimario {
    margin-top: 5px; /* Adicione margem acima do botão */
}

  /* Adicione uma margem superior ao footer para afastá-lo do botão "Saiba mais" */
  footer {
    margin-top: 50px; /* Ajuste o valor conforme necessário */
    margin-left: 235px;
    margin-bottom: 110px;
    height: 1%;
}
   
}


/*----------------------------------------------------------------------------------*/

