/*------------------------------------------------ EDIÇÃO DO PROFESSOR--------------------------------------------*/
@import url("http://fonts.googleapis.com/css2?family=Kanit&display=swap"); /*FONT EXTERNA DO GOOGLE*/
*{
    padding: 0;
    margin: 0;

    box-sizing: border-box; /*Referente ao flexbox - Olhar no site: developer.mozila.org/en-US/docs/Web/CSS/box-sizing e estudar melhor como funciona o comportamento dessa função. Por enquanto, usarei para dar continuidade ao projeto. Depois eu reviso.*/

    font-family: "Kanit"/*NOME DA FONTE EXTERNA DO GOOGLE, CITADA LÁ EM CIMA!*/, sans-serif; /*Modifica a fonte da página.*/

}
body {
    width: 100%;
    min-width: 100vh;
    background-color: #19191d;

}

header {
    display: flex;
    justify-content: space-between; /*Divide os conteudos em esquerda e direita. É o comando que manda os menus para o lado direito, caso eu me confunda.*/
    height: 80px;
    background-color: black;
    align-items: center; /*Alinha os conteudos (tanto esquerda quanto direita) dentro de "header"*/
    padding: 0px 20px; /* 0 superior e inferior(top e bottom), 20 esquerda e direita (left/right)*/
}

.logo {
    width: ; /* Abri o comando mas não irei mexer na logo, o tamanho dela está ideal! Vou manter o código só para não perder
    o raciocionio.*/
}

.nav-menu {
    list-style: none; /*Remove o modo lista do menu.*/
    display: flex; /*Desativa de vez o modo lista (Mas esse comando funciona em conjunto com o de cima, não esquecer) e coloca um ao lado do outro.*/
    flex-wrap: wrap;
}

.nav-menu li a {
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    font-size: 18px;
    flex-wrap: wrap;
}

.nav-menu li a:hover { /*Deixa o elemento de texto da NAV da cor verde, ou de qualquer outra cor que eu tenha escolhido ai abaixo.*/
    background-color: #5bbe42;
    border-bottom: 1px solid white; /*Efeito de sublinhar no hover.*/

}












   /*Rodapé*/


footer img {
    width: 40px;
    height: 40px;   
}   


footer {
    justify-content: center;
     display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}

footer a {
    margin: 20px;
     text-align: center;
     text-decoration: none; /*Retira as linhas de baixo do texto que ta linkado deixando ele livre, natural.*/ 
     color: white;
}

footer p {
    margin-top: 2px;
}


.container {
    padding: 0px 50px; /*0px =  em cima e em baixo vai ter 0 pixels de padding. 50px = Esquerda e direita vão ter 50 pixels de padding*/
}